@font-face {
	font-family: 'JetBrainsMono-Medium-Italic';
	src: url(./src/fonts/JetBrainsMono-Medium-Italic.woff) format('woff'); /*引入字体*/
}
body {
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
	font-family: source_sans_proregular, Google Sans Display;
	background: url(./bkground.svg);
	background-repeat: no-repeat;
    background-color: #ffcf10;
    font-size: medium;
}
#back_top{ 
	display:block;  
	width:60px; 
	height:60px;
	position:fixed;  
	bottom:50px;  
	right:40px; 
	border-radius:10px 10px 10px 10px;   
	text-decoration:none;  
	display:none;  
	background-color:#999999;     
	}
#back_top span{ 
	display:block; 
	width:60px; 
	color:#272727; 
	font-size: medium 
	text-align:center; 
	margin-top:4px;
	} 
#back_top span:hover{ 
	color:#cccccc; 
	} 