<div class="left">
        <div class="wrap">
            <div>
                评论
            </div>
            <!-- Link Gitalk 的支持文件  -->
            <link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
            <script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script> 
            <div id="gitalk-container"></div>     <script type="text/javascript">
            var gitalk = new Gitalk({
            // gitalk的主要参数
            clientID: '443ecb04bf27a9e2bfbe',
            clientSecret: 'e98c17830cf27bb173e98d4e46a13ccfb440b42d',
            repo: 'orangelop.github.io',
            owner: 'Orangelop',
            admin: ['Orangelop'],
            id:window.location.pathname,
            distractionFreeMode: ture
          })
          gitalk.render('gitalk-container')
            </script> 
            <!-- Gitalk end -->
        </div>
</div>
