.site-footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    // margin-top: 50px;
    // background-color: #01617D;
    background-color: #f8f8fd;
    box-shadow: 0 -2px 2px 0px #00000014;
    // background-image: linear-gradient(90deg,rgb(40, 179, 167) 0,#025872);
    // box-shadow: 0 -2px 2px 0.5px rgba(0,0,0,0.5);
    color: #000000;
    .wrapper {
        width: 1140px;
        margin: 0 auto;
        padding: 15px 0;
        text-align: center;
        font-size: 14px;
        line-height: 1.5rem;
        p {
            margin: 0;
        }
        .contact {
            display: inline-block;
            a {
                color: #585858;
                transition: 0.3s ease;
                &:hover {
                    color: black;
                }
                i {
                    margin: 0 5px;
                    font-size: 20px;
                }
            }
        }
        .description {
            display: inline-block;
        }
        a {
            color: #8F90C5;
            transition: 0.3s ease;
            &:hover {
                color: black;
                text-decoration: underline;
            }
        }
        .footer-left {
            text-align: left;
            float: left;
            display: block;
            flex-direction: row;
            width: 40%;
            margin-bottom: 15px;
        }
        .footer-right {
            text-align: left;
            float: right;
            display: block;
            flex-direction: row;
            width: 60%;
            margin-bottom: 15px;
        }
    }
}
@media screen and (max-width:1200px) and (min-width: 770px) {
    .site-footer {
        .wrapper {
            width: 90%;
        }
    }
}
@media screen and (max-width: 770px) {
    .site-footer {
        .wrapper {
            width: 90%;
        }
    }
}
