header {
    // background: #00A3FF;
    // background: #01617D;
    background: #fafafa;
    // background-image: linear-gradient(90deg,#025872 0,rgb(40, 179, 167));
    height: 52px;
    // color: #00FFFF;
    color: black; // 字体颜色
    box-shadow: 0 4px 8px 0 #00000014;
    margin-bottom: 20px;
    a {
        color: black;
        -webkit-transition: 0.5s ease;
        transition: 0.5s ease;
        // border-radius: 8px;
        // &:hover {
        //     color: #fff;
        // }
    }
    .wrapper {
        width: 1140px;
        margin: 0 auto;
        line-height: 52px;
        .favicon {
            margin-top: 2px;
            height: 48px;
            width: auto;
            border-radius: none;
        }
        a {
            display: inline-block;
            padding: 0 10px;
            height: 52px;
            &:hover {
                color: #01617D;// 选中框背景颜色
                text-decoration: underline;
            }
            i {
                margin-right: 5px;
            }
        }
        .brand {
            font-size: 20px;
        }
        small {
            margin-left: 5px;
            font-size: 14px;
            text-decoration: solid;
            box-sizing: border-box;
            font-weight: bold;
        }
        .menu{
            display: none;
        }
        nav {
            float: right;
            ul {
                font-size: 0;
                margin: 0;
                padding: 0;
                li {
                    list-style: none;
                    font-size: 14px;
                    display: inline-block;
                    -webkit-transition: 0.5s ease;
                    transition: 0.5s ease;
                    a {
                        display: inline-block;
                        padding: 0 10px;
                        height: 52px;
                        font-size: 15px;

                        &:hover {
                            // background-color: #01617D;// 选中框背景颜色
                            text-decoration: underline;
                            // box-shadow: 2px 4px 12px #0000002a;
                            // border-radius: 10px;
                        }
                        i {
                            margin-right: 5px;
                        }
                    }
                    >.active {
                        // color: #fff;// 当前活动框字体颜色
                        // background-color: #dbdbdb;
                        // font-size: 20px;
                        // box-shadow: 0 15px 15px -15px rgba(255,255,255,0.93);// 活动框光影
                        // border: 1px solid black;
                        transition: all .3s cubic-bezier(0,0,.5,1);
                        // box-shadow: 2px 4px 12px #0000003a;
                        // border-radius: 10px;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}
@media screen and (max-width:1200px) and (min-width: 770px) {
    header {
        height: 50px;
        .wrapper {
            width: 90%;
            line-height: 50px;
            .brand {
                font-size: 16px;
            }
            small {
                margin-left: 15px;
                font-size: 12px;
            }
            .menu{
                display: none;
            }
            nav {
                ul {
                    li {
                        a {
                            padding: 0 8px;
                            height: 50px;
                            i {
                                margin-right: 4px;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 770px) {
    header {
        height: 48px;
        margin-bottom: 15px;
        .wrapper {
            width: 95%;
            margin: 0 auto;
            line-height: 48px;
            position: relative;
            z-index: 101;
            .brand {
                font-size: 16px;
            }
            small {
                margin-left: 10px;
                font-size: 12px;
            }
            .menu{
                display: inline-block;
                position: absolute;
                z-index: -102;
                right: 0;
                top: 3px;
                padding: 5px 10px;
                background: rgb(0, 107, 100);
                // border: 1px solid #333; // 边框
                border-radius: 5px;
                color: #c9c9c9;
                font-size: 17px;
                -webkit-transition: 0.4s ease;
                transition: 0.4s ease;
            }
            >.active{
                background: #01617D;
                color: #fff;
            }
            .nav-show{
                visibility: visible;
                transform: scale(1);
                opacity: 1;
            }
            nav {
                position: absolute;
                z-index: 100;
                right:0;
                top:47px;
                text-align: center;
                visibility: hidden;
                transform-origin: 100% 0%;
                transform: scale(0.1);
                opacity: 0;
                transition: 0.5s cubic-bezier(0.5, 0.1, 0.51, 1.38);
                ul {
                    background: #28a4ca;
                    // background-image: linear-gradient(45deg,#f7f8a6 0,rgb(255, 187, 0));
                    // border-radius: 0 0 10px 10px;
                    border-radius: 10px;
                    margin-top: 15px;
                    // box-shadow: 0px 3px 4px 1px rgba(0,0,0,0.5);
                    li {
                        font-size: 14px;
                        display: block;
                        border-bottom: 1px solid #CFCFCF;
                        a {
                            display: block;
                            padding: 0 10px;
                            height: 40px;
                            line-height: 40px;
                        }
                        &:last-of-type{
                            border: none;
                        }
                        >.active {
                            color: #fff;
                            background-color: #014d64;
                            box-shadow: none;
                        }
                    }
                }
            }
        }
    }
}
