.clearfix:after {
    content: "\200B";
    display: block;
    height: 0;
    clear: both;
}
.clearfix {
    *zoom: 1;
}
.page {
    width: 1400px;
    box-sizing: border-box;
    margin: 0 auto;
    // word-break: break-all;
    img {
        border-radius: 10px;
    }
    .left {
        width: 80%;
        float: left;
        padding: 20px 30px;
        line-height: 1.6;
        font-size: 16px;
        background-color: #fafafa;
        box-shadow: 2px 4px 12px #00000014;
        // box-shadow: 0 1px 2px rgba(0,0,0,0.4),0 0 30px rgba(10,10,0,0.1) inset;
        // box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3), 0 0 5px rgba(10, 10, 0, 0.1) inset;
        border-radius: 10px; //圆角
        // >h1 {
        //     margin-bottom: -10px;
        // }
        a:not([title]){
            word-break: break-all;
        }
        ul {
            >h2 {
                margin-left: -35px;
                color: #6a6b6b;
            }
            li {
                line-height: 1.8;
                // color: #6a6b6b;
                time {
                    display: inline-block;
                    width: 135px;
                    margin-left: 3px;
                }
                .title {
                    font-weight: bold;
                    color: rgb(0, 60, 255);
                    transition: 0.3s ease;
                    &:hover {
                        color: #4d6dad;
                    }
                    margin-left: 3px;
                }
                i {
                    margin-right: 3px;
                }
                .categories {
                    // padding: 0 15px;
                    i {
                        // color: #000000;
                        color: #333;
                    }
                    a {
                        padding: 0 5px;
                        background-color: #24A69A;
                        border-radius: 5px;
                        color: #fff;
                        font-size: 90%;
                        transition: 0.3s ease;
                        &:hover {
                            background-color: #1e1e1e;
                        }
                    }
                }
                .pageTag {
                    .unfinished-post {
                        background-color: #fc1f4f;
                        i {
                            color: #fff;
                        }
                    }
                    i {
                        // color: #000000;
                        color: #333;
                    }
                    a {
                        // border: 1px solid #aaa;
                        padding: 0 5px;
                        background-color: #135953;
                        border-radius: 5px;
                        color: #fff;
                        font-size: 90%;
                        transition: 0.3s ease;
                        &:hover {
                            background-color: #1e1e1e;
                        }
                    }
                }
            }
        }
    }
    .anchor {
        display: none;
    }
    .right {
        float: left;
        width: 20%;
        padding-left: 20px;
        top: 0;
        .fixed {
            position: fixed;
            top: 20px;
        }
        .scroll-bottom {
            position: absolute;
            bottom: 190px;
        }
        .side {
            box-sizing: border-box;
            // border: 1px solid #333; // 边框
            background-color: #fafafa;
            box-shadow: 2px 4px 12px #00000014;
            // box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3), 0 0 5px rgba(10, 10, 0, 0.1) inset;
            padding-bottom: 1px;
            -ms-word-break: break-all;
            word-break: break-all;
            /* Non standard for webkit */
            // word-break: break-word;
            -webkit-hyphens: auto;
            -moz-hyphens: auto;
            -ms-hyphens: auto;
            hyphens: auto;
            padding-bottom: 1px; //框的底部宽
            margin-bottom: 20px; //间隙
            border-radius: 10px; //圆角
            .backInside {
                border-bottom: none;
            }
            .rssInside {
                border-bottom: none;
            }
            .commentsInside {
                border-bottom: none;
            }
            >div {
                padding: 12px 15px;
                border-bottom: 1px solid #cfcfcf;
                font-size: 16px;
                font-weight: bold;
            }
            a {
                color: #4d6dad;
                transition: 0.5s ease;
                &:hover {
                    color: #223253;
                }
            }
        }
        .rss {
            background-image: linear-gradient(45deg,#f7f8a6 0,rgb(255, 187, 0));
            // rss渐变
        }
        .comments {
            background-image: linear-gradient(45deg,#43faa5 0,#25b449);
            // 评论渐变
        }
        .content-ul {
            overflow-y: auto;
            padding-right: 10px;
            line-height: 1.8;
            padding-left: 35px;
            ul {
                padding-left: 20px;
            }
        }

    }
}
@media screen and (max-width:1200px) and (min-width: 770px) {
    .page {
        width: 90%;
    }
}
@media screen and (max-width: 770px) {
    .page {
        width: 95%;
        .left {
            width: 100%;
            float: left;
            padding: 10px 14px;
            font-size: 14px;
            >h1 {
                font-size: 25px;
                margin-bottom: -10px;
            }
            ul {
                padding-left: 20px;
                >h2 {
                    font-size: 20px;

                    // margin: 0;
                    margin-left: -20px;
                }
                li {
                    margin: 20px 0;
                    time {
                        display: block;
                        width: auto;
                    }
                    .title {
                        display: block;
                        font-size: 16px;
                    }
                    .categories {
                        font-size: 12px;
                        padding-left: 0;
                        padding-right: 10px;
                    }
                }
            }
        }
        .anchor {
            display: block;
            visibility: visible;
            position: fixed;
            top: 76px;
            right: 2.5%;
            padding: 5px 10px;
            color: #333;
            font-size: 15px;
            background-color: #c0c0dd;
            // box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3), 0 0 30px rgba(10, 10, 0, 0.1) inset;
            // opacity: 0.7;
            transition: 0.2s cubic-bezier(0.5, 0.1, 0.51, 1.38);
        }
        .anchor-hide {
            opacity: 0;
            visibility: hidden;
        }
        .right {
            font-size: 14px;
            visibility: hidden;
            // display: none;
            position: fixed;
            // z-index: 190;
            float: none;
            width: auto;
            max-width: 95%;
            padding: 0;
            top: 76px;
            right: 2.5%;
            opacity: 0;
            transform-origin: 100% 0;
            transform: scale(0.1);
            transition: 0.2s cubic-bezier(0.5, 0.1, 0.51, 1.38);
        }
        .right-show {
            z-index: 999;
            visibility: visible;
            opacity: 1;
            transform: scale(1);
            .content-ul{
              margin-bottom: 0;
              >li:last-of-type{
                margin-bottom: 16px;
              }
            }
        }
    }
}
