textarea, select {
	outline: none;
	font-family: consolas;
}

input {
	border-radius: 5px;
	border: 1px solid #ced4da;
	font-family: consolas;
	height: 1em;
	padding: 4px 1%;
	background-color: transparent;
	outline: none;
}

.textarea {
	width: 98%;
	height: 50px;
	margin: 0;
	padding: 1%;
	background-color: transparent;
	border: 1px solid #ced4da;
	border-radius: 5px;
}

.output {
	border: none;
	border-radius: none;
	padding: none;
	height: inherit;
}

.outputAlert {
	margin-top: 20px;
}