---
layout: default
---

<div class="page clearfix" post>
    <div class="left">
        <h1>{{page.title}}</h1>
        <div class="label">

            <div class="label-card">
                <i class="fa fa-calendar"></i>{{ page.date | date: "%F" }}
            </div>

            <div class="label-card">
                {% if page.author %}<i class="fa fa-user"></i>{{ page.author }}
                {% endif %}
            </div>

            <div class="label-card">
                {% if page.meta %}<i class="fa fa-key"></i>{{ page.meta }}  {% endif %}
            </div>

            <div class="label-card">
            {% include category.html %}
            </div>

            <div class="label-card">
            {% include tag.html %}
            </div>

        </div>
        <hr>
        <article itemscope itemtype="http://schema.org/BlogPosting">
        {{content}}
        </article>
        <hr>

        {% assign hasSimilar = '' %}
        {% for post in site.related_posts %}
            {% assign postHasSimilar = false %}
            {% for tag in post.tags %}
                {% for thisTag in page.tags %}
                    {% if postHasSimilar == false and hasSimilar.size < 6 and post != page and tag == thisTag %}
                        {% if hasSimilar.size == 0 %}
                        <h2 id="similar_posts">Similar Posts</h2>
                        <ul>
                        {% endif %}
                        <li class="relatedPost">
                            <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}
                            {% if post.series %}
                                (Series: {{ post.series }})
                            {% endif %}
                            </a>
                        </li>
                        {% capture hasSimilar %}{{ hasSimilar }}*{% endcapture %}
                        {% assign postHasSimilar = true %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        {% endfor %}
        {% if hasSimilar.size > 0 %}
            </ul>
        {% endif %}

        {% include previousAndNext.html %}

        <h2 id="comments">评论</h2>
        {% include comments.html %}


    </div>
    <button class="anchor"><i class="fa fa-comments"></i></button>
    <div class="left">
        <div class="wrap">
            <div>
                评论
            </div>
            <!-- Link Gitalk 的支持文件  -->
            <link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
            <script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script> 
            <div id="gitalk-container"></div>     <script type="text/javascript">
            var gitalk = new Gitalk({

            // gitalk的主要参数
            clientID: '443ecb04bf27a9e2bfbe',
            clientSecret: 'e98c17830cf27bb173e98d4e46a13ccfb440b42d',
            repo: 'orangelop.github.io',
            owner: 'Orangelop',
            admin: ['Orangelop'],
            id:window.location.pathname,
            distractionFreeMode: false
          })

          gitalk.render('gitalk-container')
            </script> 
            <!-- Gitalk end -->
        </div>
    </div>

     
    <button class="anchor"><i class="fa fa-anchor"></i></button>
    <div class="right">
        <div class="wrap">

            <!-- Content -->
            <div class="side content">
                <div>
                    <i class="fa fa-th-list"></i> 
                    目录
                </div>
                <ul id="content-side" class="content-ul">
                    {% if hasSimilar.size > 0 %}
                    <li><a href="#similar_posts">类似投稿</a></li>
                    {% endif %}
                    <li><a href="#comments">评论</a></li>
                </ul>
            </div>
            <!-- 其他div框放到这里 -->
            <!-- <div class="side">bbbb</div> -->
            
            
            <div class="side">
                <div>
                    <i class="fa fa-music"></i>
                    音乐
                </div>
                <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=265 height=86 src="//music.163.com/outchain/player?type=2&id=1334259177&auto=1&height=66"></iframe>                
            </div>  
        </div>
    </div>
</div>
<script>
/**
 * target _blank
 */
(function() {
    var aTags = document.querySelectorAll('article a:not([id])')
    for (var i = 0; i < aTags.length; i++) {
        aTags[i].setAttribute('target', '_blank')
    }
}());
</script>
<script src="{{ "/js/pageContent.js " | prepend: site.baseurl }}" charset="utf-8"></script>
